<div class="cc">
  <div class="cc__picture">
    <img
    class="img-fluid"
      src="assets/images/default.jpg"
      alt=""
    />
  </div>

  <div class="cc__text">
    <h3 class="cc__name">{{user.name}}</h3>
    <p class="cc__contacts-number">2 Contact</p>
    <p class="cc__bio">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat deserunt
      aliquid consequuntur rem repellat itaque deleniti labore ipsam mollitia,
      ea autem illo molestias officia saepe eos, voluptates iste. Recusandae,
      dolorum.
    </p>

    <p class="cc__date">
        Friends since 12/02/2019
    </p>
    <div class="cc__buttons">
      <shared-button *ngIf="contact.status=='Pending'" [button]="addFriend" (click)="acceptFriend()"></shared-button>
      <shared-button *ngIf="contact.status=='Pending'" [button]="declineFriend" (click)="decline()"></shared-button>
      <shared-button *ngIf="contact.status=='Blocked'" [button]="unblockBtn" (click)="unblockFriend()"></shared-button>
      <shared-button *ngIf="contact.status=='Accepted'" [button]="blockBtn" (click)="blockFriend()"></shared-button>
    </div>
  </div>
</div>
