.cc{
    display: flex;
    flex-direction: column;
    align-items: center;
    //max-width: 24rem;
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 12px;
    padding: 2rem;
    &__picture{
        border-radius: 50%;
        overflow: hidden;
        width: 8rem;
        height: 8rem;
        margin-bottom: 2rem;
    }

    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        letter-spacing: 1.2px;
        color: #141316;
    }
    &__name{
        margin-bottom: .5rem;
    }
    &__bio{
        margin-top: 1rem;

    }

    &__date{
        font-weight: 800;
    }
    &__buttons{
        display: flex;
      margin-top: 1rem;
        &>*:not(first-child){
          margin-left: 1rem;
        }
    }
}
