<div class="cc">
  <div class="cc__picture">
    <img
    class="img-fluid"
      src="https://i.pravatar.cc/"
      alt=""
    />
  </div>

  <div class="cc__text">
    <h3 class="cc__name">Flen Fouleni</h3>
    <p class="cc__contacts-number">22 Contact</p>
    <p class="cc__bio">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat deserunt
      aliquid consequuntur rem repellat itaque deleniti labore ipsam mollitia,
      ea autem illo molestias officia saepe eos, voluptates iste. Recusandae,
      dolorum.
    </p>

    <p class="cc__date">
        Friends since 12/02/2019
    </p>
    <div class="cc__buttons">
      <shared-button [button]="unfriendBtn"></shared-button>
      <shared-button [button]="blockBtn"></shared-button>
    </div>
  </div>
</div>
