.activity-footer{
  margin: 2rem 0 0 0;
  padding: .5rem 0;
  border-top: 1px #C0C0C0 solid;
  h3{
    font-size: 14px;
  }
  &__btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 1rem 0;
    span{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &--report{
      color: #D4353A;
    }
  }

}
