.cl{
    padding: 2rem;
    &__title{
        font-weight: bold;
    }
  &__not-found{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      font-weight: bold;
      opacity: 0.5;
    }
  }
}
