.message{
  display: flex;
  font-family: 'inter', sans serif;
  &:not(first-child){
    margin-top: 2rem;
  }
  &__sender-image{
    width: 48px;
    height: 48px;
    border-radius: 25%;
    overflow: hidden;
  }

  &__content{
    margin-left: 1rem;
    background-color: white;
    padding: .75rem;
    border-radius: 8px;
  }

  &__sender-name{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
  }
  &__sent-date{
    font-size: 12px;
    font-weight: 200;
    margin-left: 0.75rem;
  }
  &__content{
    font-size: 14px;
  }
}
